{{/*  https://" + opts.user + "." + domain + "/" + opts.game + "/data.json  */}}

{{/*  Reimplemented itch.io api...  */}}
{{ if not (.Get "userName") }}
    {{ errorf "named variable 'userName' was not provided" }}
{{ end }}

{{ if not (.Get "gameTitle") }}
    {{ errorf "named variable 'gameTitle' was not provided" }}
{{ end }}

{{ $user_name := (.Get "userName") }}
{{ $game_title := (.Get "gameTitle") }}

{{ $user_link := (print "https://" $user_name ".itch.io/") }}
{{ $link := (print $user_link $game_title) }}
{{ $fallback := (print "cached/" $game_title "/data.json") }}

{{ $u := (print $link "/data.json")}}

{{ $data := "" }}

{{/*  Get remote resource from itch.io  */}}
{{ with try (resources.GetRemote $u) }}
    {{ $value := "" }}

    {{ with .Err }}
        {{ warnf "could not fetch resource from: `%s`, falling back to %s" $u $fallback }}
        {{ with try (resources.Get $fallback) }}
            {{ with .Err }}
                {{ errorf "s%" . }}
            {{ else }}
                {{ $value = .Value }}
            {{ end }}
        {{ end }}
    {{ else }}
        {{ $value = .Value }}
    {{ end }}

    {{ $opts := dict "delimiter" "," }}
    {{ $data = $value | transform.Unmarshal $opts }}

    {{ if $data.errors }}
        {{ errorf "Itch.io: %s" (delimit $data.errors ", ") }}
    {{ end }}
{{ end }}

{{/*  Create and populate widget  */}}
{{ with $data }}
    <div id="{{ .id }}" class="itch-wrapper">
        <div class="itch-image-wrapper">
            <div class="itch-image" style="background-image: url({{ .cover_image }});"></div>
        </div>
        <div class="itch-text-wrapper">
            <div class="itch-title">{{ .title }}</div>
            <div class="itch-attribution">by:<a class="itch-author" href="{{ $user_link }}">{{ $user_name }}</a></div>
            <a class="itch-button" href="{{ $link }}" >Visit on Itch.io</a>
        </div>
    </div>
{{ end }}