{{ define "header"}}
    {{- partial "page-header.html" . -}}
{{ end }} {{/* header */}}

{{ define "head" }}
    <link rel="stylesheet" href="{{ .Site.Home.RelPermalink }}css/blog-list.css">
{{ end }}

{{ define "main" }}
<main>
    <article>
        {{ $heading_text :=  printf "Post authored by `%s`" .Title }}
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{ .Content }}

        <dl class="blog-list-dl">
            <dt>
                <div class="blog-list-header" style="display: inline-block;">
                    <span>{{ $heading_text }}</span>
                    <hr>
                </div>
            </dt>
        {{- partial "render-list.html" . -}}
        </dl>
    </article>
</main>
{{ end }}
