{{ define "header"}}
    {{- partial "page-header.html" . -}}
{{ end }} {{/* header */}}

{{ define "head" }}
    <link rel="stylesheet" href="{{ .Site.Home.RelPermalink }}css/blog-list.css">
{{ end }}

{{ define "main" }}
<div id="content-left-bar"></div>
<main>
    <article>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
        <dl class="blog-list-dl">
            <dt>
                <div class="blog-list-header" style="display: inline-block; {{ if not .Params.blogListOverride }} padding-top: .25em {{ end }}">
                    {{ if .Params.blogListOverride }}
                        <span>{{ .Params.blogListOverride }}</span>
                    {{ else }}
                        <span>All Blog Posts:</span>
                    {{ end }}
                    <hr>
                </div>
            </dt>
        <!-- Ranges through content/posts/*.md -->
        {{- partial "render-list.html" . -}}

        </dl>
    </article>
</main>
<div id="content-right-bar"></div>
{{ end }}
