{{ define "header"}}
    {{- partial "page-header.html" . -}}
{{ end }} {{/* header */}}

{{ define "main" }}
<main>
    <article>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}

        {{ $genres := slice }}

        {{/*  Ranges through content/posts/*.md  */}}
        {{ range .Data.Pages }}
            {{/*  Protect against no genre  */}}
            {{ if not (eq .Params.genre "") }}
                {{ $genres = $genres | append .Params.genre }}
            {{ end }}
        {{ end }}

        {{/*  Strip duplicates  */}}
        {{ $genres = union (sort $genres) (slice) }}

        <div class="section-container" style="padding-bottom: .5em;">
            {{ partial "text-heading.html" (dict "context" . "Level" 1 "Text" "All Games") }}
            {{/*  {{ partial "main-section.html" (dict "context" . "Section" "All Games") }}  */}}
            <div class="panel-container grab-scroller">
                {{ range .Data.Pages }}
                    {{ partial "panel.html" . }}
                {{ end }}
            </div>
        </div>
        <hr class="dots" style="margin-bottom: 1em;">
        {{/*  {{ partial "text-heading.html" (dict "context" . "Level" 3 "Text" "Genres") }}  */}}

        {{/*  Loop through genres  */}}
        {{ range $g := $genres }}
        <div class="section-container">
            {{ partial "main-section.html" (dict "context" . "Section" (title $g)) }}
            <div class="panel-container grab-scroller">
                {{ range $.Data.Pages }}
                    {{ if (in .Params.genre $g )}}
                        {{ partial "panel.html" . }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
        {{ end }}

    </article>

</main>
{{ end }}

