{{ define "header" }}
{{ partial "main-header.html" . }}
{{ end }} {{/* header */}}

{{ define "main" }}
<article class="text-section">
    {{ .Content }}

    {{ partial "section-pagination.html" (dict "context" . "sect" "games" "numPan" "4" "endStop" "true") }}
    {{ partial "section-pagination.html" (dict "context" . "sect" "projects" "numPan" "2" "endStop" "true") }}
    {{ partial "section-pagination.html" (dict "context" . "sect" "blog" "sectName" "Blog Posts" "numPan" "2" "endStop" "true") }}
</article>
{{ end }} {{/* main */}}