pre.code-block {
    background: #282828;
    padding: .5em;
    border-radius: .2em;
    margin-bottom: .5em;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

pre.code-block::-webkit-scrollbar{
    display: none;
}

pre.code-block > *,
pre.code-block > * > * {
    font-size: .92em;
    font-family: Iosevka Web,Consolas,Courier,monospace;
    font-weight: 500;
    color: #eae1afx;
}

pre.code-block > span {
    display: inline-block;
    line-height: 1.3em;
    --cyan: #8ec07c;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --orange: #fe8019;
    --red: #fb4934;
    --purple: #d3869b;
    --grey: #7c6f64;
}

pre.code-block:has(.gdscript-code-block) {
    background: #202531;
}

pre.code-block > .gdscript-code-block {
    --blue: #66e5ff;
    --cyan: #8effda;
    --yellow: #ffeca1;
    --red: #ff7085;
    --orange: #ffb373;
    --green: #63c259;
    --light-blue: #abc9ff;
    --magenta: #ff8ccc;
}

span.gdscript-code-block > span.token.controlflow {
    color: var(--magenta);
}

span.gdscript-code-block > span.token.nodepath {
    color: var(--green);
}

span.gdscript-code-block > span.token.operator {
    color: var(--light-blue);
}

span.gdscript-code-block > span.token.keyword,
span.gdscript-code-block > span.token.boolean {
    color: var(--red);
}

span.gdscript-code-block > span.token.string {
    color: var(--yellow);
}

span.gdscript-code-block > span.token.function {
    color: var(--blue);
}

span.gdscript-code-block > span.token.class-name {
    color: var(--cyan);
}

span.gdscript-code-block > span.token.annotation {
    color: var(--orange);
}

span.gdscript-code-block > span.token.comment {
    font-style: italic;
    color: rgba(204, 206, 211, 0.5);
}


span.python-code-block > span.token.class-name {
    color: var(--orange);
}

span.renpy-code-block > span.token.comment,
span.rpy-code-block > span.token.comment,
span.python-code-block > span.token.comment,
span.javascript-code-block > span.token.comment,
span.c-code-block > span.token.comment,
span.hlsl-code-block > span.token.comment {
    color: var(--grey);
    font-style: italic;
}

span.python-code-block > span.token.operator,
span.javascript-code-block > span.token.operator,
span.c-code-block > span.token.keyword {
    color: var(--cyan);
}
  
span.renpy-code-block > span.token.tag,
span.rpy-code-block > span.token.tag,
span.python-code-block > span.token.keyword,
span.javascript-code-block > span.token.tag,
span.javascript-code-block > span.token.keyword,
span.hlsl-code-block > span.token.keyword {
    color: var(--red);
}
  
span.renpy-code-block > span.token.property,
span.renpy-code-block > span.token.function,
span.rpy-code-block > span.token.property,
span.rpy-code-block > span.token.function,
span.python-code-block > span.token.function,
span.javascript-code-block > span.token.function,
span.c-code-block > span.token.function,
span.hlsl-code-block > span.token.function {
    color: var(--yellow);
}
  
span.renpy-code-block > span.token.string,
span.rpy-code-block > span.token.string,
span.python-code-block > span.token.string,
span.javascript-code-block > span.token.string {
    color: var(--green);
}
  
span.renpy-code-block > span.token.number,
span.rpy-code-block > span.token.number,
span.hlsl-code-block > span.token.number {
    color: var(--purple);
}
