pre.code-block {
    background: #282828;
    padding: .5em;
    border-radius: .2em;
    margin-bottom: .5em;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

pre.code-block::-webkit-scrollbar{
    display: none;
}

pre.code-block * {
    font-size: .92rem !important;
    font-family: Iosevka Web,Consolas,Courier,monospace;
    font-weight: 500;
    color: #eae1afx;

    display: inline-block;
    --cyan: #8ec07c;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --orange: #fe8019;
    --red: #fb4934;
    --purple: #d3869b;
    --grey: #7c6f64;
}

pre.code-block:has(.gdscript-code-block) {
    background: #202531;
}

pre.code-block > .gdscript-code-block {
    --blue: #66e5ff;
    --cyan: #8effda;
    --yellow: #ffeca1;
    --red: #ff7085;
    --orange: #ffb373;
    --green: #63c259;
    --light-blue: #abc9ff;
    --magenta: #ff8ccc;
}

span.gdscript-code-block > span.token.controlflow {
    color: var(--magenta);
}

span.gdscript-code-block > span.token.nodepath {
    color: var(--green);
}

span.gdscript-code-block > span.token.operator {
    color: var(--light-blue);
}

span.gdscript-code-block > span.hljs-keyword,
span.gdscript-code-block > span.token.boolean {
    color: var(--red);
}

span.gdscript-code-block > span.hljs-string {
    color: var(--yellow);
}

span.gdscript-code-block > span.hljs-title.function_ {
    color: var(--blue);
}

span.gdscript-code-block > span.hljs-title.class_ {
    color: var(--cyan);
}

span.gdscript-code-block > span.token.annotation {
    color: var(--orange);
}

span.gdscript-code-block > span.hljs-comment {
    font-style: italic;
    color: rgba(204, 206, 211, 0.5);
}


span.python-code-block span.hljs-title.class_,
span.python-code-block span.hljs-type{
    color: var(--orange);
}

span.renpy-code-block > span.hljs-comment,
span.rpy-code-block > span.hljs-comment,
span.python-code-block span.hljs-comment,
span.javascript-code-block > span.hljs-comment,
span.c-code-block > span.hljs-comment,
span.hlsl-code-block > span.hljs-comment {
    color: var(--grey);
    font-style: italic;
}

span.python-code-block span.token.operator,
span.javascript-code-block > span.token.operator,
span.c-code-block > span.hljs-keyword {
    color: var(--cyan);
}
  
span.renpy-code-block > span.token.tag,
span.rpy-code-block > span.token.tag,
span.python-code-block span.hljs-keyword,
span.javascript-code-block > span.token.tag,
span.javascript-code-block > span.hljs-keyword,
span.hlsl-code-block > span.hljs-keyword,
span.hlsl-code-block > span.hljs-type{
    color: var(--red);
}
  
span.renpy-code-block > span.token.property,
span.renpy-code-block > span.hljs-title.function_,
span.rpy-code-block > span.token.property,
span.rpy-code-block > span.hljs-title.function_,
span.python-code-block span.hljs-built_in,
span.python-code-block span.hljs-meta,
span.python-code-block span.hljs-title.function_,
span.javascript-code-block > span.hljs-title.function_,
span.javascript-code-block > span.hljs-built_in,
span.c-code-block > span.hljs-title.function_,
span.hlsl-code-block > span.hljs-title.function_ {
    color: var(--yellow);
}
  
span.renpy-code-block > span.hljs-string,
span.rpy-code-block > span.hljs-string,
span.python-code-block span.hljs-string,
span.javascript-code-block > span.hljs-string {
    color: var(--green);
}

span.python-code-block span.hljs-variable.language_,
span.renpy-code-block > span.token.number,
span.rpy-code-block > span.token.number,
span.hlsl-code-block > span.token.number {
    color: var(--purple);
}
