.index-header {
    align-items: center;
}

.index-header > p, .blog-header > p, .page-header > p {
    margin-bottom: 0;
}

img.profile-image {
    display: flex;
    height: 10.02em;
    border-radius: 50%;
    border: .333em solid var(--bg-color);
}

.index-name {
    font-size: 1.67em
}

.index-splash {
    font-size: .802em;
}

.blog-header-wrapper, .page-header-wrapper, .index-header-wrapper {
    background-color: #0c0112;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blog-header, .page-header, .index-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 16.7em;
    backdrop-filter: blur(5px);
}

.blog-header > *, .page-header > *, .index-header > * {
    --text-backdrop: drop-shadow(.1em .1em .05em var(--text-color-10));
    filter: var(--text-backdrop);
}

.blog-header a, .page-header a {
    text-decoration: none;
}

.page-title {
    align-self: center;
    font-size: 3.34em;
}

.blog-title {
    font-size: 2.672em;
    line-height: 95%;
}

.blog-attrib {
    font-size: 1em;
    margin-top: .333em;
}

.blog-tags {
    font-size: .7348em;
    /* margin-top: .5vmax; */
    color: var(--text-color-90);
}

.blog-tags > * {
    color: var(--text-color-90);
    font-size: 100%;
}
