.panel-container {
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    overflow: auto;
    cursor: grab;
    padding: .2em 0em;
    padding-top: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.panel-container::-webkit-scrollbar {
    display: none;
}

div.panel {
    display: flex;
    overflow: hidden;
    background: var(--bg-color-50);
    width: 20em;
    height: 12em;
    border-radius: .3em;
    margin: .2em;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

a.panel-end-stop-wrapper {
    text-decoration: none;
}

div.panel-end-stop {
    justify-content: center;
    align-items: center;
    flex-direction: row;

    text-decoration: var(--link-color) none;
    transition: background-color 0.5s ease-in-out;
}

div.panel-end-stop > span {
    color: inherit;
    transition: color 0.2s ease-in-out;
}

div.panel-end-stop > span::after {
    content: "→";
    padding-left: .5em;
    transition: color 0.2s ease-in-out;
}

div.panel-end-stop:hover, div.panel-end-stop:hover > span::after {
    background-color: var(--link-color-10);
    color: var(--link-color);
}

div.panel>div.panel-top {
    display: flex;
    max-width: 100%;
    height: 90%;
    flex-direction: column;
}

div.panel>div.panel-top>div.panel-bkg {
    max-height: 50%;
    background-color: var(--text-color-50);
    background-size: cover;
    flex-basis: 100%;
}

div.panel>div.panel-top>div.panel-tandd {
    display: flex;
    justify-content: space-between;
    margin: 0.3em;
}

div.panel>div.panel-top>div.panel-tandd>div.panel-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

div.panel>div.panel-top>div.panel-desc {
    margin: 0 .7em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8em;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

div.panel>div.panel-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 .2em;
    align-self: auto;
    overflow: hidden;
}

div.panel>div.panel-bottom>div.panel-roles {
    display: flex;
    flex-direction: row;
}

.panel-roles>span {
    display: flex;
    align-items: center;
}

.panel-roles>span>span {
    font-size: var(--big-text-size);
    filter: var(--text-backdrop);
}

.panel-roles>span>.game-role {
    font-size: var(--role-text-size);
    filter: var(--text-backdrop);
}

.panel-roles>span>.tag-wrapper {
    /* margin: 0em calc(var(--role-text-size) / 4); */
    padding: .05em .2em;
    line-height: 1em;
    background-color: rgba(40, 40, 40, .60);
    border-radius: .2em;
}

.panel-bottom a {
    font-size: var(--role-text-size);
    text-decoration: none;
}

.panel-more {
    text-decoration: none;
}

.panel-more::after {
    content: "More →";
    filter: var(--text-backdrop);
}

.project-panel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-panel-container > .panel {
    flex-basis: 49.1%;
    max-width: fit-content !important;
}

