.embedPastebin {
    border-color: var(--text-color-20) !important;
    border-width: .2em !important;
    border-radius: 1vmax !important;
    margin-top: 1vmax !important;
    margin-bottom: 1vmax !important;
    background: var(--text-color-20) !important;
}

div.embedPastebin > div.embedFooter,
div.embedPastebin > div.embedFooter > a:hover {
    color: var(--text-color-90) !important;
}

div.source > ol.text {
    font-family: inherit !important;
}

div.embedPastebin > div.embedFooter {
    display: flex;
    justify-content: center;
    font-size: 0 !important;
    user-select: none;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: .5vmax 1vmax !important;
    background: var(--bg-color-90) !important;
}

div.embedPastebin > div.embedFooter > a {
    font-size: 1vmax !important;
    user-select: all;
    color: var(--link-color-a-90) !important;
}

div.highlight-code {
    border: none !important;
}

div.embedPastebin > div.embedFooter > a:nth-child(1)::after,
div.embedPastebin > div.embedFooter > a:nth-child(1):hover::after,
div.embedPastebin > div.embedFooter > a:nth-child(2)::after,
div.embedPastebin > div.embedFooter > a:nth-child(2):hover::after{
    color: var(--text-color-90) !important;
    content: "-";
    padding-left: .5vmax;
    padding-right: .5vmax;
    font-size: 1vmax !important;
}

li.li1, div.de1 {
    font-size: 1vmax;
    word-wrap: break-word;
    color: var(--text-color-90) !important;
}

/* This is an epic gamer move
    Essentially layer applies css above the other layers, and since pastebin's
    css doesn't use layer, our css beats the pastebin's out.
*/
@layer top {
    .night .highlighted-code .source > ol {
        border-color: var(--bg-color-20) !important;
        background: var(--bg-color-80) !important;
    }
}

.night .highlighted-code .source > ol > li.li1 {
    font-size: 1vmax;
    word-wrap: break-word;
    color: var(--text-color-90) !important;
}

.night .highlighted-code .source > ol > li.li1::marker {
    color: var(--text-color-60) !important;
}

div.de1 {
    background: var(--bg-color-50) !important;
}

div.de1:hover {
    background: var(--bg-color-a-60) !important;
}
