.section-container {
    padding-bottom: 1.4em;
}

.item-section {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
}

.item-section > .item-section-text {
    font-size: 1.35em;
}

.item-section > a.item-section-text {
    text-decoration: none;
}