.index-header {
    align-items: center;
}

.index-header > p, .blog-header > p, .page-header > p {
    margin-bottom: 0;
}

img.profile-image {
    display: flex;
    height: 30vw;
    height: 30dvw;
    border-radius: 50%;
    border: .5vmax solid var(--bg-color);
}

.index-name {
    font-size: 7vw;
    font-size: 7dvw;
}

p.index-splash {
    font-size: 3vw;
    font-size: 3dvw;
}

.blog-header-wrapper, .page-header-wrapper, .index-header-wrapper {
    background-color: var(--text-color-50);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blog-header, .page-header, .index-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50dvw;
    backdrop-filter: blur(5px);
}

.blog-header a, .page-header a {
    text-decoration: none;
}

.page-title {
    align-self: center;
    font-size: 8dvw;
}

.blog-title {
    font-size: 8dvw;
    line-height: 95%;
}

.blog-attrib {
    font-size: 2.6dvw;
    margin-top: .5vmax;
}

.blog-attrib > a {
    font-size: 2.6dvw;
    margin-top: .5vmax;
}

.blog-tags {
    font-size: 2dvw;
    /* margin-top: .5vmax; */
    color: var(--text-color-90);
}

.blog-tags > * {
    color: var(--text-color-90);
    font-size: 100%;
}

.blog-tags > span > a {
    font-size: 2.4dvw;
}
