<div class="panel">
    <div class="panel-top">
      <div class="panel-bkg" style="background-image: url({{ if .Params.pannelImage }}{{ .Permalink }}{{.Params.pannelImage}}{{ else }}{{.Params.bannerImage}}{{ end }});"></div>
      <div class="panel-tandd">
        <div class="panel-title" title="{{ .Title }}">{{ .Title }}</div>
        <div class="panel-date">{{ if eq .Section "games" }}⌜{{ .Date.Format "2006" }}⌟{{ end }}</div>
      </div>
      <div class="panel-desc">{{ .Summary }}</div>
    </div>
    <div class="panel-bottom">
      <div class="panel-roles grab-scroller">{{ if .Params.roles }}{{ partial "getgameroles.html" . }}{{ else }}<span></span>{{ end }}</div>
      <a href="{{ .Permalink }}" class="panel-more" aria-label="More about {{ .Title }}"></a>
    </div>
  </div>
  


{{/*  <div class="panel" style="background-image: url({{ if .Params.pannelImage }}{{ .Permalink }}{{.Params.pannelImage}}{{ else }}{{.Params.bannerImage}}{{ end }});">
        <div class="panel-top">
            <div class="panel-title-section">
                <p class="panel-title">{{ .Title }}</p>
                <p class="panel-date">{{ if eq .Params.isGame true }}⌜{{ .Date.Format "2006" }}⌟{{ end }}</p>
            </div>
            <div class="panel-desc">
                <p>{{ .Summary }}</p>
                
            </div>
        </div>
        <div class="panel-bottom">
            <div class="panel-roles">
            {{ if .Params.roles }}{{ partial "getgameroles.html" . }}{{ else }}<span></span>{{ end }}
            </div>
            <a href="{{ .Permalink }}" class="panel-more" aria-label="More about {{ .Title }}"></a>
        </div>
        
</div>  */}}
