<div class="section-container">
    {{ range (where .context.Pages "Section" .sect ) }}
        {{/*  Check if .sectName is defined  */}}
        {{ $titled := "ERROR" }}
        {{ if $.sectName  }}
            {{ $titled = $.sectName | title }}
        {{ else }}
            {{ $titled = $.sect | title }}
        {{ end }}


        {{ partial "main-section.html" (dict "context" . "Section" $titled "href" .Section ) }}
        
        <div class="panel-container">
        {{ range first $.numPan .Pages }}

            {{ partial "panel.html" . }}

        {{ end }}
        <a class="panel-end-stop-wrapper" href="{{ .Section }}"><div class="panel panel-end-stop"><span>All {{ $titled }}</span></div></a>
        </div>
    {{ end }}
    
</div>